[submodule "limited-resource-client"]
	path = limited-resource-client
	url = git@github.com:brian65535/limited-resource-client.git
[submodule "limited-resource-server"]
	path = limited-resource-server
	url = git@github.com:brian65535/limited-resource-server.git
[submodule "Hyphenate-SDK-Web"]
	path = Hyphenate-SDK-Web
	url = git@github.com:yctai/Hyphenate-SDK-Web.git
